#logo {
    width: 100px;
}

#navLinksDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mui-palette-primary-main);
}

.navListItem {
    list-style: none;
    display: inline;
    max-width: 150px;
}

.navLink {
    text-decoration: none;
    color: var(--mui-palette-text-primary);
}

.linkText {
    color: var(--mui-palette-text-primary);
    text-transform: capitalize;
}

.menuItemText {
    justify-content: center !important;
}

.eatingMenu .MuiPaper-root {

    border-radius: 0px !important;
    box-shadow: none !important;
    background-color: var(--mui-palette-background-paper);
}

.active {
    background-color: var(--mui-palette-primary-light) !important;

    &:active {
        background-color: var(--mui-palette-primary-light) !important;
    }

}